/* main.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.guest-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a7a7; /* Green color, you can change it */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.guest-button:hover {
    background-color: #216788; /* Darker green color on hover */
}
.circular-cursor {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Style for the button container */
.google-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4285F4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

/* Style for the Google icon */
.google-button i {
  font-size: 24px;
  margin-right: 10px;
}

/* Hover effect */
.google-button:hover {
  background-color: #357AE8;
  transform: scale(1.05);
}

/* Focus effect */
.google-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.4);
}

