/* main.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.guest-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a7a7; /* Green color, you can change it */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.guest-button:hover {
    background-color: #216788; /* Darker green color on hover */
}
.circular-cursor {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Optional margin below the logo */
}
